<div class="container" style="height: 85vh;">
	<div class="container" style="height: 15%; ">
	  <ul>
	    <li><a href="#">Carrinho</a></li>
	    <li><a href="#">Minhas compras</a></li>
	    <li><a href="<%= edit_user_registration_path(current_user.id) %>">Editar perfil</a></li>
	  </ul>
	</div>
	<div class="container" style="height: 85%">
		<a>Pagina do perfil</a>
	</div>
</div>