<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h1>Categorias</h1>
			<form class="form-inline active-cyan-4">
			  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
			    aria-label="Search">
			  <i class="fas fa-search" aria-hidden="true"></i>
			</form>
			<div>
				<ul>
					<li>Shows</li>
					<li>Cinemas</li>
					<li>Festivais</li>
					<li>Cervejadas</li>
					<li>Outros</li>
				</ul>
            </div>
		</div>

			<div class="col-sm-9">
				<div class="container">
					<div class="row">
					<% @products.each do |product| %>
						<div class="col-sm-4 card-style">	
							<div class="card">
							  <img src="<%= cl_image_path product.photo.key, height: 300, width: 400, crop: :fill %>" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title"><%= product.title %></h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<div class="col-sm-4">	
							<div class="card">
							  <img src="https://http2.mlstatic.com/copo-iluminado-red-bull-rock-in-rio-2019-D_NQ_NP_984165-MLB32599455481_102019-F.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							    <h5 class="card-title">Copo rock in rio</h5>
							    <p class="card-text">Vendo esse copo comprado no Rock In Rio 2010.</p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
	</div>
</div>