.login-center {
  justify-content: center;
  margin: 20px;
}

.form-space {
  margin-bottom: 50px;
}

.sign-up { 
}

.sign-up:hover {
  color: green;
  transform: scale(1.2);
}

.login-page {
  height: 75vh;
}